/*------------------------------*/
/*            Global            */
/*------------------------------*/

* {
	box-sizing: border-box;
}




/*------------------------------*/
/*             Type             */
/*------------------------------*/



/*------------------------------*/
/*            Layout            */
/*------------------------------*/
section {
	height: 100vh;
}

.first-page {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1025;
	width: 100%;

	background: #ccc;
}

.first-page + section {
	margin-top: 100vh;
}

section + section {
	width: 75%;
	margin-left: 25%;
	padding-top: 75px;
}

section:nth-child(2n+1) {
	background-color: #ccc;
}

/*------------------------------*/
/*          Navigation          */
/*------------------------------*/

.site-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 25%;
	z-index: 1000;
	background-color: #eee;
}

.site-header {
	position: fixed;
	top: 0;
	left: 25%;
	height: 75px;
	width: 75%;
	z-index: 1001;
	background-color: #ddd;
	padding: 1rem;
}


/*------------------------------*/
/*         Other Stuff          */
/*------------------------------*/

.swatch{
	width:100px;
	height: 100px;
}

.colorbox input{
	width: 100px;
}