/*------------------------------*/
/*        Global/Utility        */
/*------------------------------*/

* {
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.center-me {
	text-align: center;
	position: absolute;
	top: 33.333%;
	width: 100%;
}

html {
	font-family: 'Fira Sans', sans-serif;
}

/*------------------------------*/
/*             Type             */
/*------------------------------*/

h1 {
	font-weight: normal;
	font-variant: small-caps;
}

h2 {
	font-weight: normal;

}

h3 {
	font-weight: normal;
	font-family: 'Fira Sans', sans-serif;
}

p {
	font-weight: normal;
}

/*------------------------------*/
/*            Layout            */
/*------------------------------*/
.first-page {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1025;
	width: 100%;
	height: 100vh;
	background: #eeffcc;
}

.first-page::before {
	display: block;
	z-index: 100;
	content: '';
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 125%);
	position: absolute;
	top: 0;
	left: 0;
}

.first-page::before {
	display: block;
	z-index: 99;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.first-page + section {
	margin-top: 100vh;
}

section .wrapper {
	min-height: calc(100vh - 75px);
	width: 83.33333%;
	margin-left: 16.666667%;
	margin-top: 75px;
	padding: 1rem;
}

section:nth-child(2n) {
	background-color: #ccc;
}

/*------------------------------*/
/*          Navigation          */
/*------------------------------*/

.site-nav {
	position: absolute;
	top: 100vh;
	left: 0;
	height: 100%;
	width: 16.666667%;
	z-index: 1000;
	background-color: #eee;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.site-nav.stuck {
	position: fixed;
	top: 0;
}

.nav-logo {
	display: inline-block;
	width: 90%;
}

.site-nav ul {
	list-style: none;
	text-align: right;
	border-right: 1px solid #ccc;
}

.site-nav ul li {

}

.site-nav ul li a{
	padding: 1rem 1.5rem;
	display: block;
	position: relative;
}

.site-nav ul li.selected a:after {
	position: absolute;
	content: '';
	right: -2px;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #ccc;
}

.site-header {
	position: absolute;
	top: 100vh;
	left: 16.666667%;
	height: 75px;
	width: 83.333333%;
	z-index: 1001;
	background-color: #ddd;
	padding: 1rem;
}
.site-header.stuck {
	position: fixed;
	top: 0;
}


/*------------------------------*/
/*         Other Stuff          */
/*------------------------------*/

.swatch{
	width:6rem;
	height:6rem;
	border-bottom: 0.1rem solid black;
}

.colorbox{
    float: right;
    margin: 2rem;
    border: 0.1rem solid black;
    background-color: #FFF;
    text-align: center;
}

.colorbox input{
	width: 6rem;
	text-align: center;
}

.font-demo{
	margin: 1rem;
	width: 28rem;
	float: right;
}

.font-demo .allchars{
	float: left;
}

.font-demo .weights{
	float: right;
}

.font-demo h2{
	border-bottom: 0.1rem solid black;
}

.font-demo p{
	margin-top: -1rem;
}

.font-demo input{
	margin-bottom: 1rem;
}
